html {
  background-color: #000000;
  color: #c9c1c9;
  font-family: 'IBM Plex Mono', monospace;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  min-width: 100vw;
}

h1 {
  text-align: center;
  color: #6d0011;
}

a {
  color: #ff7979;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

strong {
  font-weight: 900;
  color: #ffffff;
}

/* For Shiki code blocks */
pre {
  margin: 0.5rem 0 16px;
  padding: 1rem 1rem 1rem;
}

input[type='text'] {
  font-family: 'IBM Plex Mono', monospace;
}
