main h1 {
  color: #6d0011;
}

main h2 {
  color: #a26b35;
}

main h3 {
  color: #8b2950;
}

main h4 {
  color: #b76e79;
}

main h5 {
  color: #ff7979;
}

main h6 {
  color: #f6a6a7;
}

blockquote > p {
  color: #888888;
  text-align: left;
  font-style: italic;
  margin-left: -2em;
  padding-left: 15px;
  border-left: 3px solid #fff;
}

.astro-code {
  overflow-x: scroll;
  max-width: 100%;
  white-space: pre-wrap;
  word-wrap: break-word;
}
