---
import Layout from '@layouts/Layout.astro';
---

<Layout pageTitle="About">
  <h1>About</h1>
  <p>I'm quite a few things, depending on the context.</p>
  <p>By the looks of this page, I'm human. Who woulda thought.</p>
</Layout>
