---
import Layout from '@layouts/Layout.astro';
---

<Layout
  title="About"
  description="About Varun Narravula; a software developer, drummer, human, and many other things."
>
  <h1>About</h1>
  <p>
    I'm quite a few things, depending on the context. But by the looks of this
    page, I'm human. Who woulda thought?
  </p>
  <p>
    My name is Varun; I'm passionate about quite a few things. I'm first off,
    <i>human.</i> Sometimes it's hard to remember that in the monotony of day-to-day
    life; but it's best I remind myself, and all the others that read this page,
    that I am just like you. Human.
  </p>
  <p>
    I also love to play drums. I've played them ever since I was five, and I am
    only continuing to get better. If you want me on a gig, I'm down as long as
    I'm in the area :&rbrace; shoot me a message!
  </p>
  <p>
    I also am someone who loves doing stuff with computers. Software
    engineering, DevOps, you name it. I'm currently studying computer science at
    <a href="https://sfsu.edu">San Francisco State University</a>, attempting a
    bachelor's degree, and work with the crazy talented people at
    <a href="https://saltandlight.community">Salt + Light</a>. I also enjoy
    hacking on random stuff; I contribute in my own ways to software like
    <a href="https://nixos.org">Nix</a>, <a href="https://neovim.io">Neovim</a>,
    among others. I'm constantly learning, and I feel like I know next to
    nothing the more I learn; it's wild, but fulfilling.
  </p>
  <p>
    If you want to talk to me (that's crazy, by the way) - feel free to send me
    a message anywhere you prefer! Here are some platforms where you can do
    that:
  </p>
  <div class="contact-table">
    <table>
      <tr>
        <td>Matrix</td>
        <td>
          <a href="https://matrix.to/#/@water-sucks:matrix.org">
            @water-sucks:matrix.org
          </a>
        </td>
      </tr>
      <tr>
        <td>Discord</td>
        <td>
          <a href="https://discordapp.com/users/973667298068021378">
            water.sucks
          </a>
        </td>
      </tr>
      <tr>
        <td>Email</td>
        <td><a href="mailto:varun@snare.dev">varun@snare.dev</a></td>
      </tr>
    </table>
  </div>
</Layout>

<style>
  th,
  td {
    border: 1px solid #8b8b8b;
  }

  .contact-table {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
  }
</style>
