---
import Layout from '@layouts/Layout.astro';
---

<Layout
  title="About"
  description="About Varun Narravula; a software developer, drummer, human, and many other things."
  pageType="about"
>
  <h1>About</h1>
  <p>
    As you probably saw on my homepage already, I'm Varun; I'm many things
    depending on the time of day (or night, because I am much more of a night
    owl than I am a day person). Most of the time, I just sit in my house just
    doing something random that's pretty cool.
  </p>
  <p>
    For one, I love to play drums; I've played them ever since I was five, and I
    am only continuing to get better. If you want me on a gig, I'm down as long
    as I'm in the area :&rbrace; shoot me a message!
  </p>
  <p>
    I also am someone who loves doing stuff with computers. Software
    engineering, DevOps, you name it. I'm currently studying computer science at
    <a href="https://sfsu.edu">San Francisco State University</a>, attempting a
    bachelor's degree, and work on random projects here and there on my
    <a href="https://github.com/water-sucks">GitHub</a>
    whenever I feel like it. I also enjoy hacking on random stuff; I contribute in
    my own ways to software like
    <a href="https://nixos.org">Nix</a>, <a href="https://neovim.io">Neovim</a>,
    among others. I'm currently looking for work; here's my <a
      href="https://raw.githubusercontent.com/water-sucks/resume/main/resume.pdf"
      >resume</a
    > in case you are interested. I'm constantly learning, and I feel like I know
    next to nothing the more I learn; it's wild, but fulfilling.
  </p>
  <p>
    If you want to talk to me (that's crazy, by the way) - feel free to send me
    a message anywhere you prefer! Here are some platforms where you can do
    that:
  </p>
  <div class="contact-table">
    <table>
      <tr>
        <td>Matrix</td>
        <td>
          <a href="https://matrix.to/#/@water-sucks:matrix.org">
            @water-sucks:matrix.org
          </a>
        </td>
      </tr>
      <tr>
        <td>Discord</td>
        <td>
          <a href="https://discordapp.com/users/973667298068021378">
            water.sucks
          </a>
        </td>
      </tr>
      <tr>
        <td>Email</td>
        <td><a href="mailto:varun@snare.dev">varun@snare.dev</a></td>
      </tr>
    </table>
  </div>
</Layout>

<style>
  th,
  td {
    border: 1px solid #8b8b8b;
  }

  .contact-table {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
  }
</style>
