---
import Layout from '@layouts/Layout.astro';
---

<Layout
  title="Home"
  description="Varun Narravula's personal website. I'm just a dude who's aspiring, and (kinda) achieving."
  pageType="home"
>
  <h1>Hello, I'm Varun!</h1>
  <p>I'm just a dude who's aspiring, and (kinda) achieving.</p>
  <p>
    Check out my musings <a href="/musings">here</a>, or maybe see
    <a href="/about">who I am</a> first.
  </p>
  <p>
    Or, if you're here to potentially hire me, my
    <a
      href="https://raw.githubusercontent.com/water-sucks/resume/main/resume.pdf"
      >résumé</a
    >
    is up for grabs.
  </p>
</Layout>
