---
import Layout from '../components/Layout.astro';
---

<Layout pageTitle="Home">
  <style>
    .page-container {
      text-align: center;
    }
  </style>

  <div class="page-container">
    <h1>Goodbye, cruel world!</h1>
    <p>Just kidding. I like doing that for "Hello, world!"-type things.</p>
  </div>
</Layout>
