---
import Layout from '@layouts/Layout.astro';
---

<Layout pageTitle="Musings">
  <h1>Musings</h1>
  <p>
    I will be writing a blog here soon. It'll have stuff about random things;
    you'll know it once you see it. Stay tuned!
  </p>
  <ul>
    <li><a href="/musings/hello-world/">Hello world!</a></li>
  </ul>
</Layout>
