---
import Layout from '../components/Layout.astro';
---

<Layout pageTitle="Musings">
  <style>
    .page-container {
      text-align: center;
    }
  </style>

  <div class="page-container">
    <h1>Musings</h1>
    <p>
      I will be writing a blog here soon. It'll have stuff about random things;
      you'll know it once you see it. Stay tuned!
    </p>
  </div>
  <ul>
    <li><a href="/posts/hello-world/">Hello world!</a></li>
  </ul>
</Layout>
