---
import Layout from '@layouts/Layout.astro';
import { getCollection } from 'astro:content';
import SearchAndPosts from '@components/SearchPosts.svelte';

const posts = await getCollection('musings');
posts.sort((a, b) => Date.parse(b.data.date) - Date.parse(a.data.date));

const preparedPosts = posts.map((post) => ({
  title: post.data.title,
  description: post.data.description,
  date: post.data.date,
  image: {
    url: post.data.image.url.src,
    alt: post.data.image.alt,
  },
  tags: post.data.tags,
  slug: post.slug,
}));
---

<Layout
  title="Musings"
  description="The Treasure Trove - Varun's Blog"
  pageType="musings"
>
  <h1>Musings</h1>

  <blockquote class="subtitle-quote">The Treasure Trove</blockquote>

  <p>Wow, you really wanna read my stuff? Who dared you to?</p>

  <p>Go ahead. Here be dragons. Not a lot of them, but I digress.</p>

  <p>
    I write about a few things:
    <ul>
      <li>Programming</li>
      <li>Philosophy</li>
      <li>Politics</li>
      <li>Random shit, who even cares?</li>
    </ul>
  </p>

  <p>
    Click on the tags to load posts matching those tags, or type them in with a
    prefixed "#". General searching by post name works too.
  </p>

  <SearchAndPosts client:load posts={preparedPosts} />
</Layout>

<style>
  .subtitle-quote {
    color: #a26b35;
    font-style: italic;
    text-align: center;
  }

  .post {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .post-details {
    display: flex;
    flex-direction: column;
  }

  .post-date-section {
    display: flex;
    align-items: center;
    color: #f0883e;
    gap: 0.5em;
  }

  .post-description {
    color: #888888;
  }
</style>
