---
import Layout from '@layouts/Layout.astro';
import { getCollection } from 'astro:content';

const quotes = await getCollection('quotes');
quotes.sort((a, b) => Date.parse(a.data.date) - Date.parse(b.data.date));

const rendered = await Promise.all(
  quotes.map(async (quote) => {
    const { Content } = await quote.render();
    return {
      Content,

      author: quote.data.author,
      source: quote.data.source,
    };
  }),
);
---

<Layout
  title="Quoth Mine"
  description="Mini-musings. Things that I find interesting from other people."
  pageType="quote-mine"
>
  <h1>Quoth Mine</h1>
  <p>
    A quote mine. Mini-musings. Random things that I find interesting from other
    people, and/or myself.
  </p>

  <div class="quote-list">
    {
      rendered.map(({ Content, author, source }) => (
        <blockquote class="quote-item">
          <div class="quote-text">
            <Content />
          </div>
          <footer class="quote-footer">
            ~&gt;
            <strong>{author}</strong>, {`"${source}"`}
          </footer>
        </blockquote>
      ))
    }
  </div>
</Layout>

<style>
  .quote-list {
    margin-top: 2em;
  }

  .quote-item {
    margin-bottom: 1.5em;
    padding: 1em;
    border-left: 5px solid #8b2950;
    background-color: #111111;
    border-radius: 3px;
  }

  .quote-text {
    font-style: italic !important;
    color: #c9c1c9;
    margin-bottom: 0.5em;
  }

  .quote-footer {
    font-size: 0.9em;
    color: #;
    text-align: right;
  }
</style>
