---
import Layout from '@layouts/Layout.astro';

type Quote = {
  text: string;
  author: string;
  source: string;
};

const quotes: Array<Quote> = [
  {
    text: `<p>I saw a moth fly too close to the light next to me while reheating
some pizza and fall to the ground, unable to fly ever again.</p>

<p>Icarus he was, Mothcarus even.</p>`,
    author: 'Varun Narravula',
    source: 'High at 2 A.M.',
  },
  {
    text: `My formula for greatness in a human being is amor fati: that one wants
nothing to be different, not forward, not backward, not in all eternity.`,
    author: 'Friedrich Nietzsche',
    source: 'On The Genealogy of Morals',
  },
  {
    text: 'The only true wisdom is in knowing you know nothing.',
    author: 'Socrates',
    source: 'unknown',
  },
  {
    text: 'That which has been is what will be, that which is done is what will be done, and there is nothing new under the sun.',
    author: 'A Dead God',
    source: 'Ecclesiastes 1:9',
  },
  {
    text: `Every time one generates code by prompt, they create a new stillborn program;
vibe coding is the art of stitching together their corpses into Frankenstein’s monster.”
`,
    author: 'Clayton W. Ramsey',
    source: "I'd Rather Read the Prompt",
  },
  {
    text: "Holy shit, why do I keep getting banger ideas, but I don't have the means to execute said ideas?",
    author: '/usr/bin/pingu',
    source: "hell :3 (a Discord server I'm in)",
  },
  {
    text: "I'm worthy of that which I make myself to be worthy of.",
    author: 'Varun Narravula',
    source:
      "Self-reflecting on Christianity's idea of not being worthy of anything",
  },
  {
    text: `I trust you about as much as I trust "your branch is up to date with origin/main"`,
    author: '@bashbunni.dev',
    source: 'Bluesky',
  },
];
---

<Layout
  title="Quoth Mine"
  description="Mini-musings. Things that I find interesting from other people."
  pageType="quote-mine"
>
  <h1>Quoth Mine</h1>
  <p>
    A quote mine. Mini-musings. Random things that I find interesting from other
    people, and/or myself.
  </p>

  <div class="quote-list">
    {
      quotes.map((quote) => (
        <blockquote class="quote-item">
          <p class="quote-text" set:html={quote.text} />
          <footer class="quote-footer">
            ~&gt;
            {quote.source ? `${quote.author}, "${quote.source}"` : quote.author}
          </footer>
        </blockquote>
      ))
    }
  </div>
</Layout>

<style>
  .quote-list {
    margin-top: 2em;
  }

  .quote-item {
    margin-bottom: 1.5em;
    padding: 1em;
    border-left: 5px solid #8b2950;
    background-color: #111111;
    border-radius: 3px;
  }

  .quote-text {
    font-style: italic !important;
    color: #c9c1c9;
    margin-bottom: 0.5em;
  }

  .quote-footer {
    font-size: 0.9em;
    color: #;
    text-align: right;
  }
</style>
