---
import Navigation from './Navigation.astro';
---

<style>
  #navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #121212;
    padding: 1em;
  }
</style>
<nav id="navigation">
  <Navigation />
</nav>
