---
import Navigation from './Navigation.astro';
---

<style>
  * {
    box-sizing: border-box;
  }

  #navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #121212;
    padding: 1em;
    width: 100vw;
  }
</style>
<nav id="navigation">
  <Navigation />
</nav>
