---
const currentPath = Astro.url.pathname;
---

<style>
  #home-button {
    font-weight: bold;
  }

  .link {
    color: #ff7979;
    font-size: 1em;
    text-decoration: underline;
  }

  .active-link {
    color: #6d0011;
    text-decoration: underline;
  }
</style>

<div id="home-button" class="link">
  <a class={currentPath === '/' ? 'active-link' : 'link'} href="/">Home</a>
</div>

<div>
  <a
    href="/musings"
    class={currentPath.startsWith('/musings') ? 'active-link' : 'link'}
    >Musings</a
  >
</div>
