---
import { Icon } from 'astro-icon/components';
import LastFMPlaying from './LastFMPlaying.astro';

export interface Props {
  pageType: string;
}

const { pageType } = Astro.props;

const routeName = `${pageType}.html`;
---

<div id="status-bar">
  <div class="left">
    <div class="end-space"></div>
    <Icon name="mdi:hashtag" id="cool-icon" />
    <div id="route-name">{routeName}</div>
    <div class="scroll-percentage">0%</div>
  </div>

  <div class="center">
    <div class="extra-component">
      <LastFMPlaying />
    </div>
  </div>

  <div class="right">
    <div class="extra-component static-dummy-prop">UTF-8</div>
    <div class="extra-component static-dummy-prop">UNIX</div>
    <div id="branch" class="extra-component">
      <Icon name="mdi:pine-tree" />
      {import.meta.env.MODE}
    </div>
    <div class="extra-component scroll-percentage">0%</div>
    <div class="end-space"></div>
  </div>
</div>
<style>
  #status-bar {
    display: flex;
    height: 1.5em;
    font-size: 1em;
    background-color: #121212;
    justify-content: space-between;
    align-items: center;
    bottom: 0px;
    position: fixed;
    width: 100%;
  }

  .end-space {
    width: 0.7em;
    height: 1.5em;
    background-color: #888888;
  }

  .left {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
  }

  .center {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
  }

  .right {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    gap: 1em;
  }

  #cool-icon {
    color: #6d0011;
  }

  #route-name {
    color: #ff7979;
  }

  .static-dummy-prop {
    color: #9e4244;
  }

  #branch {
    display: flex;
    align-items: center;
    color: #a26b35;
  }

  .extra-component.scroll-percentage {
    display: none;
  }

  @media (width <= 80ch) {
    .left .scroll-percentage {
      display: none;
    }

    .extra-component {
      display: none !important;
    }

    .extra-component.scroll-percentage {
      display: block !important;
    }
  }
</style>

<script>
  function getScrollPercent() {
    const h = document.documentElement;
    const b = document.body;
    const st = 'scrollTop';
    const sh = 'scrollHeight';
    return ((h[st] || b[st]) / ((h[sh] || b[sh]) - h.clientHeight)) * 100;
  }

  const scrollPercentElements =
    document.getElementsByClassName('scroll-percentage');

  window.addEventListener('scroll', () => {
    const percentage = getScrollPercent();
    for (let i = 0; i < scrollPercentElements.length; i++) {
      scrollPercentElements[i].textContent = `${Math.round(percentage)}%`;
    }
  });
</script>
