---
import '@styles/global.css';
import '@fontsource/ibm-plex-mono';
import Layout from '@layouts/Layout.astro';
import { format } from 'date-fns';

const { frontmatter } = Astro.props;
const { title, date, tags, timeToRead } = frontmatter;

const formattedDate = format(new Date(date), 'PPP');
---

<Layout pageTitle={title}>
  <div class="page-container">
    <main>
      <h1>{title}</h1>
      <div class="metadata-line">
        {formattedDate} :: {tags.map((tag: string) => `#${tag}`).join(', ')} :: {
          timeToRead
        }
      </div>
      <slot />
    </main>
  </div>
</Layout>

<style>
  .metadata-line {
    text-align: center;
    color: #888888;
  }
</style>
